#app {
    display: flex;
    height: 600px;
    max-width: 400px;
    width: 400px;
    min-height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
