div {
  height: 250px;
  width: 190px;
  margin: auto;
  padding: 10px;
  color: #7B999C;
}

form {
  max-width: 350px;
  border: 1px #CCC dotted;
  padding: 15px;
}

label {
  margin: 5px 0;
  padding: 0 5px;
  display: block;
  font-weight: bold;
}

input[type=text],
input[type=number] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #CCC;
  margin: 0px;
  background: #fff;
  padding: 5px;
  margin: 5px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

input[type=text]:focus,
input[type=number]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid[required] {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  height:auto;
  width: inherit;
  font-size: 10px;
  margin-left: 5px;
  padding: 5px;
}
.alert-danger {
  background: red;
  color: white;
}
